---
import { Icon } from 'astro-icon/components';

// See https://github.com/natemoo-re/astro-icon
// and https://icon-sets.iconify.design/ for more icons

const { socialPlatform, data } = Astro.props;

let iconName: string;
let title: string = `Connect on: ${socialPlatform}`;

switch (socialPlatform) {
	case 'linktree':
		iconName = 'linktree';
		break;
	case 'discordServer':
		iconName = 'discord-server';
		title = `Join our Discord server`;
		break;
	case 'redbook':
		iconName = 'mdi:square';
		title = `Follow me on Xiaohongshu`;
		break;
	case 'thread':
		iconName = 'mdi:at';
		title = `Follow me on Threads`;
		break;
	case 'patreon':
		iconName = 'mdi:patreon';
		title = `Support me on Patreon`;
		break;
	case 'bilibili':
		iconName = 'mdi:circle';
		title = `Follow me on Bilibili`;
		break;
	default:
		iconName = `mdi:${socialPlatform}`;
}
---

<a href={data.url} title={title}>
	<Icon name={iconName} />
</a>

<style>
[data-icon="mdi:square"] {
	color: #FE2C55;
}

[data-icon="mdi:circle"] {
	color: #00A1D6;
}

[data-icon="mdi:patreon"] {
	color: #000000;
}

[data-icon="mdi:github"] {
	color: #000000;
}

[data-icon="mdi:youtube"] {
	color: #FF0000;
}
[data-icon="mdi:discord"] {
	color: #5865F2;
}
</style>
